
html {
  height: 100vh;     /* Fix viewport height */
  width:100vw;
  margin: 0;
  overflow: hidden;  /* Prevent scrolling */
}

App{
   overflow:hidden;
   display:flex;
   justify-content: center;
   align-items: center; 
}

 .NavBar {
    padding:2%;
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
}


