
html {
  height: 100vh;     /* Fix viewport height */
  width:100vw;
  margin: 0;
  overflow: hidden;  /* Prevent scrolling */
}

App{
   overflow:hidden;
   display:flex;
   justify-content: center;
   align-items: center; 
}

 .NavBar {
    padding:2%;
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

p,a,li, h1, h2, h3, h4, h5, h6{
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}



