
html{
    height:100%;
    overflow: hidden;
}

body{
    background-color: #2e2d2d;
    box-sizing: border-box;
    margin:0;
    padding:0;
    height:100%;
}
section{
    height:100%;
    display:flex;
    justify-content: center;
}
main{
    display:flex;
    flex-direction: column;
    height:100%;
}

#main-content{
    height:100%;
    display:flex;
}

#description-container{
    width:50%;
    height:100%;
}

#photo-container{
    display:flex;
    align-items:center;
    height:100%;
    width:50%;
}

#photo-div{
    width:50%;
    height:60%;
}

img{
    width:100%;
    height:100%;
}