body{
    background-color: black;
}
#Title{
    color: white;
    font-family: verdana, arial;
}
#LinkedInLink{
    color: rgb(255,255,255);
}
#GitHubLink{
    color: rgb(255,255,255);
}
p{
    color: rgb(73, 68, 163);
    font-family:"lucida consol", "courier new";
    font-size: 1.em;    
}
#p1{color: rgb(255,124,233);}