.project-nav-div{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-items: center;
    height: clamp(41rem, 55vw, 55rem);
    cursor: pointer;
    background:linear-gradient(to right,#dbcdcd11,#1e1d1dbd);
    background-blend-mode: overlay;
    /* background-color:red; */
}
.projectsNav{
    opacity: 0;
    color:white;
    list-style:none;
    overflow:hidden;
    transition: opacity 1s ease;
    width:100%;
    padding:5%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
}
.projectButton{
    text-align: center;
    padding:1%;
    width:100%;
    font-size: clamp(0.8rem,1.2vw,200rem);
}
.project-nav-div:hover .projectsNav{
    opacity: 1;
    color:white;
    /* height:100%; */
}