.mainAboutSection{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
.topSection{
    display:flex;
    padding:1%;
    height:100%;
}
.right-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    padding:2%;
    row-gap: 3%;
}
.fav-title-container{
    display:flex;
    height:40%;
    width:70%;
    flex-direction: column;
    align-items: center;
    z-index:1;
    padding:0;
    border:2px solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    border-radius: 25px;
    background-color: #1e1d1d;
}
.fav-title-container>h1{
    font-size:clamp(0.7rem,1vw,15rem);
    color:white;
}
.img-container{
    z-index:1;
    border: 2px solid white;
    border-radius: 25px;
    overflow:hidden;
}
.photoImage{
    display:block;
    width:clamp(12rem,15vw,30rem);
    height:clamp(18rem,18vw,30rem);
    z-index:1;
}

.favoritesContainer{
    display:flex;
    width:clamp(25rem,30vw,50rem);
    height:clamp(7rem,10vw,18rem);
    padding:0%;
    justify-content: center;
}

.aboutDesc{
    /* margin-top: 1%; */
    height:60%;
    min-width:100vh;
    display:flex;
    align-self: center;
    flex-direction: column;
    /* margin:0; */
    row-gap: 0%;
    padding:1%;
    border:2px solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    border-radius: 25px;
    background-color: #1e1d1d;
    z-index:1;
}
.aboutDesc>h1{
    font-size:clamp(0.5rem,2vw,2rem);
}
.aboutDesc>p{
    font-size:clamp(0.7rem,1.8vw,1.1rem);
}
.aboutDesc>h1{
    color:white;
}
.listings{
    width:80%;
    padding:2%;
}
.listingLine{
    width:50%;
}

@media (max-width: 768px){
    .topSection{
        flex-direction: column;
        row-gap: 0%;
    }
    .right-container{
        flex-direction: row;
        margin-left:2%;
        column-gap:7%;
        width: 90%;
    }

    .aboutDesc{
        /* margin-top:10%;
        margin-left:5%; */
        margin:2%;
        height:45%;
        min-width:1.5vh;
    }
    .img-container{
        margin:-1%;
    }
    .photoImage{
        width:9rem;
        height:11rem;
        transform:translateX(-15px);
    }
    .aboutDesc>h1{
        font-size:1.2rem;
    }
    .aboutDesc>p{
        font-size:0.68rem;
    }
    .fav-title-container{
        height:100%;
        width:60%;
    }
}