.description{
    /* background-color:red; */  
    display:flex;
    flex-direction: column;
    row-gap: 0%;
    padding:5%;
}
.Links{
    display:flex;
    flex-direction: row;
    list-style:none;
    column-gap: 15%;
    width:30%;
    /* background-color: blue; */
}

.icon{
    width:100%;
    height:100%;
    filter:invert(1);
}
