
body{
    background-color: #1e1d1d;
    margin:0;
    padding:0;
    height:100vh;
}

#main-content{
    display:flex;
    flex-direction: column;
    column-gap: 0%;
    height:100%;
}

.top-container{
    display:flex;
    height:80%;
    /* background-color:yellow; */
    width:100%;
}

/* Left side of screen */
.description-container{
    display: flex;
    justify-items: center;
    align-items: center;
    width:100%;
    padding:2% 0 0 2%;
}

.Text,p{
    color:white;
}


/* Right side of screen */
#photo-container{
    /* background-color:rgb(62, 45, 45); */
    width:50%;
    padding:5%;
    align-items: center;
    align-content: center;
    justify-items:center;
    justify-content: center;
    row-gap:2%;
}

#photo-box{
    /* border:2px solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    border-radius: 25px; */
    padding:3% 0 3% 0%;
    justify-items: center;
    align-content: center;
}

#photo-div{
    display:flex;
    justify-content: center;
    width:65%;
    padding:0%;
    margin:5%;
}
img{
    height:100%;
    width:100%;
    padding:0%;
}
.Line{
    width:70%;
}

.NavBar{
    align-self: center;
    width:75%;
}