.navbar{
    position:absolute;
    display:flex;
    flex-direction: row;
    row-gap: 1%;
    align-items: center;
    justify-items: center;
    width:clamp(41rem,45vw,100rem);
}
.navLinks{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 9%;
}

.navLinks>li{
    color:white;
}
.navLinks>li:hover{
    cursor:pointer;
}