.navbar{
    position:absolute;
    display:flex;
    align-items: center;
    justify-items: center;
    /* background-color:#ffffff; */
    width:75%;
}
.navLinks{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
}