.navbar{
    position:absolute;
    display:flex;
    align-items: center;
    justify-items: center;
    width:75%;
}
.navLinks{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    column-gap: 10%;
}

.navLinks>li{
    color:white;
}
.navLinks>li:hover{
    cursor:pointer;
}