.wholeProjectPage{
    height:100%;
    display:flex;
    align-items: stretch;
    flex-direction: column;
}
.topProjectsPage{
    height:100%;
    display:flex;
    column-gap: 11%;
}
.project-nav-bar{
    flex:0 0 15%;
    z-index:1;
}
.projectDisplay{
    height:100%;
    width:65%;
    background-color: black;
    margin-top: 0.5%;
    justify-self: center;
    border:2px solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.597);
    border-radius: 25px;
    background-color: #1e1d1d;
    z-index:1;
}
.projectButton:hover{
    background-color:#ffffff;
    color:black;
}

@media (max-width: 480px){
    .topProjectsPage{
        column-gap: 5%;
    }
    .projectDisplay{
        width:75%;
        margin-top: 10%;
    }
}