
    <!-- <html lang = "en">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" >
            <meta charset = "UTF-8">
            <link rel = "stylesheet" href = "navbar.css">
        </head>
        <body>
            <footer>
                <nav class = "navbar">
                    <p><</p>
                    <ul class = "navLinks">
                        <li><a class = "navLink" href = "../index.html">HOME</a></li>
                        <li><a class = "navLink" href = "../projects/projects.html">PROJECTS</a></li>
                        <li><a class = "navLink" href = "../activities/activities.html">ACTIVITIES</a></li>
                    </ul>
                    <p>></p>
                </nav>
            </footer>
        </body>
    </html> -->